<!DOCTYPE html>
<html>
<head>
  <title>Maily herald webui</title>
  <%= stylesheet_link_tag    "maily_herald/webui/application", media: "all" %>
  <%= javascript_include_tag "maily_herald/webui/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
