.box.noborder.resource-editable.container-details
  = render :partial => "details"

.resource-editable.container-template
  = render :partial => "template"

.container-entities
  = render :partial => "entities"

.container-logs
  = render :partial => "logs"
